@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nuosu+SIL&display=swap');

.home{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 2em;
}

.home ul li{
    padding:1em 0;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif, 'Nuosu SIL', serif;
    color:white;
    font-family: 'fleshandblood';
}
.info-container{
    display: flex;
    justify-content: space-around;
}