/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nuosu+SIL&display=swap'); */



.flexContainerList{
    display: flex;
    justify-content: space-around;
    padding: 1.5em;
    font-size: 2em;
    background-image: url("../../assets/abstract.webp");
    background-position: top;
    -webkit-box-shadow: inset 0px 0px 0px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 0px 10px rgba(0,0,0,0.75);
    box-shadow: inset 0px -25px 0px -15px rgb(0, 0, 0, 0.75);
    font-family: 'fleshandblood';
    font-size: 3em;
}

.flexContainerList a{
    text-decoration: none;
    cursor:pointer
}

.flexContainerList a:hover{
    text-decoration: underline;
}
    
